@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500&family=Klee+One&family=Lato:ital,wght@0,300;0,400;0,700;1,300&family=Montserrat:wght@100;400&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200&family=Poppins:ital,wght@0,300;0,400;0,700;1,300&family=Roboto:ital,wght@0,100;0,700;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
    justify-content: space-between;
    width: 100%;
}

header {
    padding: 20px;
    margin: auto;
    

}

nav {
    display: flex;
    padding: 20px 80px; 
    background: linear-gradient(60deg, #65c8a0, rgb(255, 172, 172));
    position: fixed;
    align-content: center;
    justify-content: space-between;
    z-index: 2;
}

.menu {
    padding-left: 40px;
    justify-content: space-between;
    align-content: center;
}

li {
    list-style: none;
    display: inline;
    margin: 25px;
    justify-content: center;
    
}

.logo {
    width: 120px;
}

li a {
    text-decoration: none;
    color: rgb(223, 95, 95);
    font-weight: 400;
}

li a:hover {
    color: #fff;
    text-decoration: underline;
    font-weight: 500;
}



.btn-contact-me {
    padding: 12px 25px 12px 25px;
    background-color: rgb(223, 95, 95);
    cursor: pointer;
    border: 1px solid rgb(247, 126, 126);
    color: #fff;
}

.btn-contact-me:hover {
    background-color: rgb(247, 126, 126);
}



.content-home {
    padding-top: 80px;
    background: linear-gradient(45deg, #65c8a0, rgb(255, 172, 172));
    display: flex;
}

.hero {
    width: 480px;
    transform: scaleX(-1);
    z-index: 1;
    padding: 20px 50px;
}

.intro {
    display: inline;
    text-align: right;
    padding: 20px 80px;
    justify-content: center;
    align-content: center;
}

.title {
    font-size: 50px;
    color: rgb(223, 95, 95);
    margin-bottom: 20px;
    
}

.intro p {
    line-height: 25px;
    font-weight: 300;
}

.discover-more {
    padding: 20px 30px 20px 30px;
    margin-top: 20px;
    background-color: rgb(223, 95, 95);
    border-radius: 5px;
    border-style: none;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.discover-more:hover {
    background-color: rgb(247, 126, 126);
}

.about {
    display: flex;
    
}

.about-me {
    display: inline;
    text-align: left;
    justify-content: center;
    align-content: center;
    padding: 20px 80px;
}


.about-hero {
    width: 350px;
    padding: 20px 50px auto;
}

.projects {
    background: linear-gradient(45deg, #65c8a0, rgb(255, 172, 172));
    text-align: center;
    justify-content: center;
    padding-top: 20px;
}


.list-project {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 20px 80px;
    
    
}

.project1 {
    padding: 20px;
}

.image-projects {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 300px;
}

.my-experiences  {
    text-align: center;
    justify-content: center;
    padding-top: 20px;
}

.container-experiences {
    
    margin: 30px 200px;
    background-color: #65c8a0;
    padding: 50px auto;
    border-left: 2px solid #333;
}

